.btn {
    max-width: fit-content;
    padding: 1.05em 2.6em;
    color: var(--btn-color);
    background-color: var(--btn-bgcolor);
    border: 2px solid transparent;
    border-radius: 10em 0 10em 10em;

    font-weight: 600;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 0.65em;

    &--top {
        background-color: transparent;
        border-color: var(--btn-bgcolor);
        transition: all 0.2s ease-in;       

        &:hover {
            background-color: var(--btn-bgcolor);
        }
    }

    &--main {
        margin-top: 3em;
        padding: 1em 3.5em;
    }
}

