.header-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 40px;
}

.header-content {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 1;

    h1 {
        font-size: calc(var(--index) * 10);
        font-weight: 900;
        text-transform: uppercase;
    }

    p {
        max-width: 560px;
        display: inline-block;
        font-weight: 600;
        line-height: 1.4;
    }
}

.header-content__slide {
    position: absolute;
}


.letters .letter {
    text-shadow: 25px 0 35px rgba(0 0 0 / .5);
    position: relative;
    margin-left: calc(var(--index) * -2.1);
    right: calc(var(--index) * -2.1);
    opacity: 0;
    top: -5em;
    transition: opacity var(--transition), top var(--transition);
}

.header-content__slide.active .letter {
    opacity: 1;
    top: 0;
}

.header-content__slide.active + * .letter {
    top: 5em;
}

.header-content__info {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    top: -18em;
    opacity: 0;

    transition: opacity 1s ease, top 1.5s ease;
}

.header-content__slide.active .header-content__info {
    opacity: 1;
    top: 0;
}

.header-content__slide:has(* + .active .header-content__info),
.header-content__slide.active + * .header-content__info {
    top: 18em;
}


