.slider-ui {
    position: absolute;
    z-index: 10;
    inset: 0;
    pointer-events: none;
}

.logo, .main-menu, .btn, .mobile-nav-btn {
    pointer-events: all;
}

.top-line {
    padding: 3.2em 0;
}

.top-line__row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.main-menu {
    display: flex;

    ul {
        display: flex;
        gap: 5px;
    }

    li {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.725em;
        letter-spacing: .25em;

        &::before, &::after {
            content: '';
            position: relative;
            display: inline-block;
            height: 2px;
            width: 10px;
            background-color: var(--green-color);
            vertical-align: middle;
            top: -1px;
            border-radius: 10em;
            margin: 0 7px;
            visibility: hidden;
        }

        &:hover::before, &:hover::after{
            visibility: visible;
        }

        .main-menu__item {
            transition: all 0.2s ease-in;
        
            &:hover {
                color: var(--text-color);
            }
        }   
    }
}

.active {
    color: var(--text-color);
}

.col-lead {
    display: flex;
    margin-left: auto;

    @include mobile {
        display: none;
    }
}

.col {
    gap: 20px;
    align-items: center;
    justify-content: center;

    width: fit-content;
}




